*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-seri';
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    width: auto;
}

.links-container {
    background-color: black;
    padding: 20px 150px 25px 5px;
    margin-top: 20px;
    text-align: center;
     width: 100%;
}

.links-container a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    font-weight: bold;
margin: 30px;}

.links-container a:hover {
    -webkit-text-stroke: 1px rgb(173, 173, 173);
    color: transparent;
}

.container {
    padding: 2rem;
}

.slider-container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 200px;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.slider a {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: auto;
}
.slider  img {
    flex: 1 0 100%;
    object-fit: cover;
    width: 100%;
    height: auto;

}

.another-container {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.another-container a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.75;
    transition: opacity ease 258ms;
}
.another-container a:hover{
    opacity: 1;
}
.line{
    color: black;
    margin-top: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
.most-used-games{
    display: flex;
align-items: center;
justify-content: center;
gap: 300px;
}
.most-used-games a button {
    display: flex;
gap: 100px;
border: none;
border-radius: 5px;
width: 400px;
background-color: rgb(229, 222, 222);
outline: none;
transition: 0.1s ease 0s;
}
.btn{
    margin-top: 30px;

}
.line2{
    width: 1000px;
    margin: 0 auto;

    
}
.most-used-games a button img {
    width: 100px;
    height: 100px;
}

.most-used-games a button:hover{
    transform:translateY(-10px);
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
.text1 a button {
margin-left: 20px;
margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px ;
    font-weight: bold;
    border: none;
    
border-radius: 5px;
transition: all , 0.3s;
background-color:rgb(225, 212, 212);
padding: 7px;

}

.text1 a button:hover{
    transform: translateX(-10px);
    background-color: var(--clr-white);
}
.line3{
    color: black;
    margin-top: 20px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}
.textino{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
color: rgb(148, 139, 139);
margin-right: 310px;
margin-top: 10px;
text-decoration: none;
border-radius: none;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 100px;
}
.footer-c{
   width: 25%;
   padding: 0 15px;
}
.footer-c h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-c h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-c ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-c ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-c ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-c .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-c .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

